*{
    box-sizing: border-box;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-image: url(/Images/bgb.jpg);
  background-size: cover;
  backdrop-filter: blur(12px);
  background-position: center;
}
h1{
    font-size: 45px;
    background-color: rgb(139, 192, 227);
}