* {box-sizing: border-box}
body {
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 420px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(70, 170, 228);
  outline: none;
}
p{
    
    padding-left: 580px;
}
h1{
    padding-left: 680px;
}
.clearfix{
    padding-left: 670px;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
table{
    padding-left: 485px;
    
}
/* Set a style for all buttons */
button {
  background-color: #41ee60;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 120px;
  
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}