* {
  box-sizing: border-box
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  background-image: url(/Images/102.jpg);
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(20px);
  color: rgb(33, 33, 33);
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  /* background-color: #648b98; */
  /* background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)); */
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(33, 33, 33);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.6s;
}

li a:hover {
  background-color: snow;
  color: #648b98;
}

.top {
  padding-left: 10px;
  /* font-size: 30px; */
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
}

.top h1 {
  font-size: 50px;
}

.topnav {
  margin-bottom: -13px;
  display: block;
  /* text-align: center; */
  /* height: 120px; */
  margin-top: -34px;
  margin-left: -9px;
  margin-right: -9px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));

}

.topnav ul {
  padding-left: 80%;
  position: absolute;
  top: 1%;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  z-index: 10000;

}

.tablestudent {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: fit-content;
  border: 1.5px solid snow;
  border-radius: 30px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
}

.roll {
  padding: 10px;
}

.std {
  padding: 10px;
}

.roll input {
  width: 140px;
  height: 40px;
}

.std input {
  width: 140px;
  height: 40px;
}

.btn {
  padding: 10px;
}

button {
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.table {}

.listofstd {
  margin-left: 50px;
  padding: 20px;
  width: fit-content;
  border: 1.5px solid snow;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
}

.listofstd table tr td {
  padding: 10px;
}

/* .sbtn{
  padding-top: 20px;
  margin-left: 70px;
} */